html {
    font-size: 62.5%;
}

.hotbar {
    background-color: black;
    display: flex;
    font-size: 5rem;
    justify-content: space-between;
    padding: 6rem;
}
.inicioHotbar {
    color: white;
    display: flex;
    gap: 5rem;
}
.fimHotbar {
    color: orange;
    display: flex;
    gap: 5rem;
}